<!--proyectos-->
<!--Section 1-->
<section>
    <h2 class="text-center h1 py-5">
      <strong>Nuestros Proyectos - TEAM ADMINISTRACIÓN</strong>
    </h2>
    <!--Section description-->
    <p class="grey-text pb-5 text-center">Somos un Equipo Imparable.</p>
    <!--Grid row-->
  <div class="proyects">
    <div class="row text-center">
      <!--Grid column-->
      <!--Modelo de Negocio-->
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
            <a Target="_Blank" href="https://app.asana.com/0/1199712038591607/board">
                <img src="../../../assets/modeloNegocios.png" class="img-fluid" alt="Sample project image">
          </a>
        </div>
        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect Target="_Blank" href="https://app.asana.com/0/1199712038591607/board">
            <mdb-icon far icon="clone" class="left"></mdb-icon> View project</a>
        </mdb-card-body>
      </div>
      <!--Modelo de Negocios-->
      <!--Legalización y certificación-->
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
            <a Target="_Blank" href="https://app.asana.com/0/1199506664172791/board">
                <img src="../../../assets/legalizacion.png" class="img-fluid" alt="Sample project image">
          </a>
        </div>
        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect Target="_Blank" href="https://app.asana.com/0/1199506664172791/board">
            <mdb-icon far icon="clone" class="left"></mdb-icon> View project</a>
        </mdb-card-body>
      </div>
      <!--Legalización y certificación-->
      <!--Metodología de Estudio-->
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
            <a Target="_Blank" href="https://app.asana.com/0/1199510010507769/board">
                <img src="../../../assets/metodologiaDeEstudio.png" class="img-fluid" alt="Sample project image">
          </a>
        </div>
        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect Target="_Blank" href="https://app.asana.com/0/1199510010507769/board">
            <mdb-icon far icon="clone" class="left"></mdb-icon> View project</a>
        </mdb-card-body>
      </div>
      <!--Metodología de Estudio-->
      <!--Cronograma de Aprendizaje-->
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
            <a Target="_Blank" href="https://app.asana.com/0/1199602483268303/board">
                <img src="../../../assets/cronogramaDeAprendizaje.png" class="img-fluid" alt="Sample project image">
          </a>
        </div>
        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect Target="_Blank" href="https://app.asana.com/0/1199602483268303/board">
            <mdb-icon far icon="clone" class="left"></mdb-icon> View project</a>
        </mdb-card-body>
      </div>
      <!--Cronograma de Aprendizaje-->
      <!--Metas y Logros 2021-->
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
            <a Target="_Blank" href="https://app.asana.com/0/1199602483268312/board">
                <img src="../../../assets/metasyLogros2021.png" class="img-fluid" alt="Sample project image">
          </a>
        </div>
        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect Target="_Blank" href="https://app.asana.com/0/1199602483268312/board">
            <mdb-icon far icon="clone" class="left"></mdb-icon> View project</a>
        </mdb-card-body>
      </div>
      <!--Metas y Logros 2021-->
      <!--Administrador de Correos por area-->
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
            <a Target="_Blank" href="https://app.asana.com/0/1199602483268312/board">
                <img src="../../../assets/adminCorreos.png" class="img-fluid" alt="Sample project image">
          </a>
        </div>
        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect Target="_Blank" href="https://app.asana.com/0/1199602483268312/board">
            <mdb-icon far icon="clone" class="left"></mdb-icon> View project</a>
        </mdb-card-body>
      </div>
      <!--Administrador de Correos por area-->
    </div>  
  </div>
</section>
<!--Section 1-->
