<!-- Main navigation -->
<header>
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <mdb-navbar-brand>
            <a class="navbar-brand" href="">
              <img class="animated bounce infinite" src="https://res.cloudinary.com/newstartap/image/upload/v1617051891/assetsNewStartap/Logo/logopng100x100_3_ufktuh.png" height="30" alt="">
            </a>
          </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" >Register Page <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="">Inicio </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
         
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/NewStartaps" target="_Blank">
                <mdb-icon fab icon="facebook-f"></mdb-icon>
              </a>
            </li>
        </ul>
      </links>
    </mdb-navbar>
    <!-- Navbar -->
   
    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('https://res.cloudinary.com/newstartap/image/upload/v1616607152/assetsNewStartap/Carrusel/4_knyb9s.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-deep-purple-strong d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          
          <!--Grid row-->
          <div class="row pt-lg-5 mt-lg-5">
            <div>
              <button mdbBtn type="button" color="indigo" mdbWavesEffect routerLink="/loginHome">Volver</button>
            </div>
            
            <!--Grid column-->
            <div class="col-md-6 col-xl-5 mb-4" style="text-align: center; margin-right: auto; margin-left: auto;">
              <!--Form-->
              <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                <mdb-card-body class="z-depth-2">
                  <!--Header-->
                  <div class="text-center">
                    <h3 class="dark-grey-text">
                      <strong>Registro de Usuarios</strong>
                    </h3>
                    <hr>
                  </div>
                  <picture class="imagenLogin">
                    <source srcset="https://res.cloudinary.com/newstartap/image/upload/v1614368028/assetsNewStartap/Logo/logowebp280x280_yuye0l.webp" 
                    type="image/webp" loading="lazy" class="imagenLogin">
                    <source srcset="https://res.cloudinary.com/newstartap/image/upload/v1614368028/assetsNewStartap/Logo/logojpg280x280_i5qn28.jpg"
                     type="image/jpg" class="imagenLogin">
                      <img src="https://res.cloudinary.com/newstartap/image/upload/v1614368028/assetsNewStartap/Logo/logojpg280x280_i5qn28.jpg"
                       type="image/jpg" loading="lazy" class="imagenLogin">  
                  </picture>
                  <!--Body-->
                  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                  <div class="md-form">
                    <input type="email" id="form3" class="form-control" mdbInput formControlName="email">
                    <label for="form3">Correo Electronico</label>
                  </div>
                  <div class="md-form">
                    <input type="password" id="form2" class="form-control" mdbInput formControlName="password">
                    <label for="form2">Contraseña</label>
                  </div>
                  <div>
                    <div class="buttonLogin">
                  <button mdbBtn type="submit" gradient="purple" rounded="true" mdbWavesEffect class="buttonLogin">
                     Registrar 
                  </button>
                    </div>
                  </div>
                </form>
                </mdb-card-body>
              </mdb-card>
              <!--/.Form-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->

