<app-navbar-logout></app-navbar-logout>
<header>
    <div class="view">
        <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row">
                <!--columna #1 --> 
                    <div class="col-md-4">
                        <app-navbar-admin></app-navbar-admin>
                    </div>
                <!-- Columna #2 -->
                    <div class="col-md-8">
                        <app-chatgeneral></app-chatgeneral>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<app-proyectosconfig-admin></app-proyectosconfig-admin>