<!-- Main navigation -->
<header>
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <mdb-navbar-brand>
            <a class="navbar-brand" href="">
              <img class="animated bounce infinite" src="https://res.cloudinary.com/newstartap/image/upload/v1617051891/assetsNewStartap/Logo/logopng100x100_3_ufktuh.png" height="30" alt="">
            </a>
          </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" >Login Page <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="">Inicio </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
         
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/NewStartaps" target="_Blank">
                <mdb-icon fab icon="facebook-f"></mdb-icon>
              </a>
            </li>
        </ul>
      </links>
    </mdb-navbar>
    <!-- Navbar -->
    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('https://res.cloudinary.com/newstartap/image/upload/v1616607152/assetsNewStartap/Carrusel/4_knyb9s.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-deep-purple-strong d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row pt-lg-5 mt-lg-5">
            <!--Grid column-->
            <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft" data-wow-delay="0.3s">
              <h1 class="display-4 font-weight-bold">Área Administrativa</h1>
              <hr class="hr-light">
              <h6 class="mb-3">Si tienes un proyecto en el cual deseas trabajarlo y desarrollarlo con un equipo especializado, 
                  esa idea que no te deja dormir e inclusive no sabes por donde empezar, o tienes los recursos y la idea y no 
                  tienes el equipo adecuado, ¡Cuentanos tu idea! estamos prestos a escucharte, guiarte, ver la viabilidad 
                  del proyecto y ponernos en contacto a hacerte propuesta alguna.
              </h6>
              <a mdbBtn color="white" outline="true" mdbWavesEffect 
              href="https://sites.google.com/correounivalle.edu.co/solicitud-nuevoproyecto/inicio" target="_Blank">
              Enviar solicitud de Nuevo Proyecto</a>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 col-xl-5 mb-4">
              <!--Form-->
              <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                <mdb-card-body class="z-depth-2">
                  <!--Header-->
                  <div class="text-center">
                    <h3 class="dark-grey-text">
                      <strong>Login</strong>
                    </h3>
                    <hr>
                  </div>
                  <picture class="imagenLogin">
                    <source srcset="https://res.cloudinary.com/newstartap/image/upload/v1614368028/assetsNewStartap/Logo/logowebp280x280_yuye0l.webp" 
                    type="image/webp" loading="lazy" class="imagenLogin">
                    <source srcset="https://res.cloudinary.com/newstartap/image/upload/v1614368028/assetsNewStartap/Logo/logojpg280x280_i5qn28.jpg"
                     type="image/jpg" class="imagenLogin">
                      <img src="https://res.cloudinary.com/newstartap/image/upload/v1614368028/assetsNewStartap/Logo/logojpg280x280_i5qn28.jpg"
                       type="image/jpg" loading="lazy" class="imagenLogin">  
                  </picture>
                  <!--Body-->
                  <div class="md-form">
                    <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
                    <input type="text" id="form3" class="form-control" mdbInput>
                    <label for="form3">Correo Electronico</label>
                  </div>
                  <div class="md-form">
                    
                    <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
                    <input type="password" id="form2" class="form-control" mdbInput>
                    <label for="form2">Contraseña</label>
                  </div>
                  <div>
                    <div class="buttonLogin">
                  <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect class="buttonLogin">
                    <mdb-icon fas icon="sign-in-alt"></mdb-icon> Ingresar 
                  </button>
                    </div>
                  </div>
                </mdb-card-body>
                
              </mdb-card>
              <!--/.Form-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->
