/* Required for full background image */

html,
body,
header,
.view {
  min-height: 100vh;
}



@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1100px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 700px;
  }
}

.top-nav-collapse {
  background-color: #39448c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #39448c !important;
  }
}

h6 {
  line-height: 1.7;
}

.view{
    background-image: url('https://github.com/UniDigitalPanel/imagenespublicas/blob/main/portada-login.jpg?raw=true'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

.fa-google {
    background: #39448c;
    color: white;
  }
.md-form{
    text-align: center;
}
.img-logo{
    max-width: 50px;
    max-height: 50px;
}