<!-- Main navigation -->
<header>

    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <mdb-navbar-brand class="iconoPrincipal">
        <a class="navbar-brand" href="">
          <img class="animated bounce infinite" src="https://res.cloudinary.com/newstartap/image/upload/v1616781269/assetsNewStartap/Logo/logopng100x100_2_vivyut.png" height="30" alt="">
        </a>
      </mdb-navbar-brand>

      <mdb-navbar-brand class="iconoSecundario">
        <a class="navbar-brand" href="">
          <img class="animated bounce infinite" src="https://res.cloudinary.com/newstartap/image/upload/v1617156711/assetsNewStartap/Logo/logopng100x100_6_pkls6m.png" height="30" alt="">
        </a>
      </mdb-navbar-brand >
      
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{key.LINKPARTICIPAR}}" data-offset="90" target="_Blank">Participar en este proyecto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact" data-offset="90" 
            href="https://sites.google.com/correounivalle.edu.co/solicitud-nuevoproyecto/inicio" target="_Blank">Postular nuevo proyecto</a>
          </li>
        </ul>
  
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/NewStartaps" target="_Blank">
              <mdb-icon fab icon="facebook-f" class="light-green-text-2"></mdb-icon>
            </a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              <mdb-icon fas icon="user"></mdb-icon>
              <span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary dropdowm-menu-right" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/login">Admin</a>
            </div>
          </li>
        </ul>
      </links>
    </mdb-navbar>
  
    <!-- Full Page Intro -->
    <div id="intro-section" class="view">
  
      <video class="video-intro" poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline autoplay
        muted loop>
        <source src="https://mdbootstrap.com/img/video/animation.mp4" type="video/mp4">
      </video>
  
      <!-- Mask & flexbox options-->
      <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
  
        <!-- Content -->
        <div class="container px-md-3 px-sm-0">
  
          <!--Grid row-->
          <div class="row wow fadeIn">
  
            <!--Grid column-->
            <div class="col-md-12 mb-4 white-text text-center wow fadeIn">
  
              <h3 class="display-3 font-weight-bold white-text mb-0 mt-5 pt-md-5 pt-5">{{key.TITLE}}</h3>
              <hr class="hr-light my-4 w-75">
              <h4 class="subtext-header mt-2 mb-4">{{key.DESCRIPTION}}</h4>

              <h5 class="subtext-header mt-2 mb-4">{{key.DESCRIPTIONLARGE}}</h5>
              <h4 class="subtext-header mt-2 mb-4">Ventajas de participar en el proyecto</h4>
              <h5 class="subtext-header mt-2 mb-4">{{key.VENTAJAS}}</h5>
              <div class="btn-group grupoButtons" role="group" aria-label="Basic example">
                <a href="{{key.LINKCONOCERMAS}}" target="_Blank" mdbBtn color="white" rounded="true" outline="true" mdbWavesEffect>
                  <mdb-icon fas icon="eye"></mdb-icon> Conocer más el proyecto
                </a>
                <a href="{{key.LINKADMIN}}" target="_Blank" mdbBtn color="white" rounded="true" outline="true" mdbWavesEffect>
                  <mdb-icon fas icon="tools"></mdb-icon> Area administrativa del proyecto
                </a>
                <a href="{{key.LINKPARTICIPAR}}" target="_Blank" mdbBtn color="white" rounded="true" outline="true" mdbWavesEffect>
                  <mdb-icon fas icon="briefcase"></mdb-icon> Participar en el proyecto
                </a>
            </div>

            <a href="{{key.LINKCONOCERMAS}}" target="_Blank" mdbBtn color="white" rounded="true" outline="true" mdbWavesEffect
            class="buttons">
              <mdb-icon fas icon="eye"></mdb-icon> Conocer más el proyecto
            </a>
            <a href="{{key.LINKADMIN}}" target="_Blank" mdbBtn color="white" rounded="true" outline="true" mdbWavesEffect
            class="buttons">
              <mdb-icon fas icon="tools"></mdb-icon> Area administrativa del proyecto
            </a>
            <a href="{{key.LINKPARTICIPAR}}" target="_Blank" mdbBtn color="white" rounded="true" outline="true" mdbWavesEffect
            class="buttons">
              <mdb-icon fas icon="briefcase"></mdb-icon> Participar en el proyecto
            </a>

            
  
            </div>
            <!--Grid column-->
  
          </div>
          <!--Grid row-->
  
        </div>
        <!-- Content -->
  
      </div>
      <!-- Mask & flexbox options-->
  
    </div>
    <!-- Full Page Intro -->
  
  </header>
  <mdb-card class="seccionParticipantes">
    <br/>
    <br/>
    <br/>
    <h1 class="purple-text font-weight-bold mb-3">Participantes del Proyecto</h1>
  <section class="text-center pb-3 my-5" >
    <!--Grid row-->
    <div class="row cardParticipantes" >
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 zoomInRight" *ngFor="let name of var101" >
        <mdb-card class="pricing-card Card " *ngIf="name.name.length">
          
          <mdb-card-body class="striped">
          <a href="{{name.link}}" target="_Blank">
          <img src="{{name.imagen}}" alt="">
          </a>
          <br/>
          <br/>
          <mdb-card-title color="blue">
          <h1>{{name.name}}</h1>
          </mdb-card-title>
          <a mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect href="{{name.link}}" target="_Blank">
            <mdb-icon fas icon="sign-out-alt"></mdb-icon> Conocer participante...
          </a>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </section>
  </mdb-card>