<!-- <div class="menu-admin"> -->
<ul class="nav flex-column blue-gradient font-weight-bold">
    <li class="nav-item">
        <a class="nav-link active" >EQUIPOS DE TRABAJO</a>
    </li>
    <br/>
    <li class="nav-item">
        <a class="nav-link text-white" href="/admin-home" > <mdb-icon fas icon="users"></mdb-icon>  TEAM - SISTEMAS
            <mdb-icon fas icon="laptop"></mdb-icon></a>
    </li>
    <br/>
    <li class="nav-item">
        <a class="nav-link text-white" href="/admin-home-administracion"><mdb-icon fas icon="users"></mdb-icon>  TEAM - ADMINISTRACIÓN
            <mdb-icon fas icon="building"></mdb-icon></a>
    </li>
    <br/>
    <li class="nav-item">
        <a class="nav-link text-white" href="#!"><mdb-icon fas icon="users"></mdb-icon>  TEAM - CONTABILIDAD
            <mdb-icon fas icon="calculator"></mdb-icon></a>
    </li>
    <br/>
    <li class="nav-item">
        <a class="nav-link text-white"  href="#!"><mdb-icon fas icon="users"></mdb-icon>  TEAM - MARKETING
            <mdb-icon fas icon="paint-brush"></mdb-icon></a>
    </li>
    <br/>
    <li class="nav-item">
        <a class="nav-link text-white" href="#!"><mdb-icon fas icon="users"></mdb-icon>  TEAM - VENTAS
            <mdb-icon fab icon="salesforce"></mdb-icon></a>
    </li>
</ul>
<!-- </div> -->
