
<!-- Main navigation -->
<header class="header">

    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark scrolling-navbar fixed-top transparent z-depth-0"
                [containerInside]="false">
  
      <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
          <img class="animated bounce infinite" src="https://res.cloudinary.com/newstartap/image/upload/v1614368028/assetsNewStartap/Logo/logopng100x100_dzyzgf.png" height="30" alt="">
        </a>
      </mdb-navbar-brand>
  
      <!-- Collapsible content -->
      <links>
  
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <mdb-icon fab icon="pinterest-p"></mdb-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <mdb-icon fab icon="dribbble"></mdb-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <mdb-icon fab icon="facebook-f"></mdb-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <mdb-icon fab icon="instagram"></mdb-icon>
            </a>
          </li>
  
          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              <mdb-icon fas icon="user"></mdb-icon>
              <span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary dropdowm-menu-right" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
            </div>
          </li>
  
        </ul>
        <!-- Links -->
  
      </links>
      <!-- Collapsible content -->
  
    </mdb-navbar>
    <!--/.Navbar-->
  
    <!-- Intro -->
    <section class="view">
  
      <div class="row">
  
        <div class="col-md-6 letterView">
  
          <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <h1 class="heading display-3 animated bounceInLeft slow">New Startap</h1>
            <h4 class="subheading font-weight-bold wow fadeInUp" data-wow-delay="1.5s">Comencemos un nuevo proyecto juntos</h4>
            <div class="mr-auto">
              <button type="button" mdbBtn color="lily" rounded="true" class="btn-margin buttonEmpezar">Empecemos<i
                class="fas fa-caret-right ml-3"></i></button>
            </div>
          </div>
  
        </div>
  
        <div class="col-md-6 videoHome">
  
          <div class="view">
  <video class="videoHome" loading="lazy" controls autoplay loop muted autoplay="autoplay" muted="muted">
        <source src="https://res.cloudinary.com/newstartap/video/upload/v1614631220/assetsNewStartap/Carrusel/video_mundo_nestartap_wjtxti.webm" type="video/webm">
          <source src="https://res.cloudinary.com/newstartap/video/upload/v1614631259/assetsNewStartap/Carrusel/video_mundo_nestartap_juwikj.mp4" type="video/mp4">
  </video>
       <div class="mask flex-center hm-gradient">
            </div>
          </div>
  
        </div>
  
      </div>
  
    </section>
    <!-- Intro -->
  
  </header>
  <!-- Main navigation -->
  
