<!-- Main navigation -->
<header>
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <mdb-navbar-brand>
            <a class="navbar-brand" href="">
              <img class="animated bounce infinite" src="https://res.cloudinary.com/newstartap/image/upload/v1617051891/assetsNewStartap/Logo/logopng100x100_3_ufktuh.png" height="30" alt="">
            </a>
          </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" >Area Administrativa<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="">Inicio </a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" >Usuario<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="">{{user.email}}</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
         
            <li class="nav-item">
              <a class="nav-link" (click)="logout()">
                Salir
                <mdb-icon fas icon="door-open"></mdb-icon>
              </a>
            </li>
        </ul>
      </links>
    </mdb-navbar>
    <!-- Navbar -->
    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('https://res.cloudinary.com/newstartap/image/upload/v1616607152/assetsNewStartap/Carrusel/4_knyb9s.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-deep-purple-strong d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row pt-lg-5 mt-lg-5">
           
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->

