<!-- Main navigation -->
<header>
    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('https://res.cloudinary.com/newstartap/image/upload/v1616607152/assetsNewStartap/Carrusel/4_knyb9s.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-deep-purple-strong d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <div class="buttonRegister">
          <button mdbBtn type="button" color="indigo" mdbWavesEffect class="buttonRegister" routerLink="/register">Registrar Nuevo Usuario administrativo</button>
        </div>
          <br/>
          <br/>
          <br/>
            <!--Grid row-->
  <div class="row d-flex justify-content-center">

    <!--Grid column-->
    <div class="col-lg-5" style="max-height: 400px;">

      <!--Featured image-->
      <div class="view overlay rounded waves-light" mdbWavesEffect >
        <a href="https://www.appsheet.com/start/b4359d6f-f864-415b-a153-1860198a5659" target="_blank">
        <picture>
          <source srcset="https://res.cloudinary.com/newstartap/image/upload/v1618513368/assetsNewStartap/DashBoard/Dash-webp_fuhpax.webp"
          type="image/webp" loading="lazy">
          <source srcset="https://res.cloudinary.com/newstartap/image/upload/v1618513368/assetsNewStartap/DashBoard/Dash-jpg_fiqazv.jpg"
          type="image/jpg" loading="lazy">
          <img src="https://res.cloudinary.com/newstartap/image/upload/v1618513368/assetsNewStartap/DashBoard/Dash-jpg_fiqazv.jpg"
          type="image/jpg" loading="lazy">
        </picture>
      </a>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7 " style="max-height: 400px;">

      <!--Featured image-->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://chatbro.com/97oFY" allowfullscreen></iframe>
      </div>


    </div>
    <!--Grid column-->

  
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->

