<!--Navegación-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="https://universidaddigital.vercel.app"><strong>UNIDIGITAL</strong></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" (click)="signOut()">LOGOUT <mdb-icon fas icon="sign-out-alt"></mdb-icon><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">{{user.email}}<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Navegación -->

