<!--proyectos-->
<!--Section 1-->
<section>
    <h2 class="text-center h1 py-5">
      <strong>Nuestros Proyectos - TEAM SISTEMAS</strong>
    </h2>
    <!--Section description-->
    <p class="grey-text pb-5 text-center">Somos un Equipo Imparable.</p>
    <!--Grid row-->
  <div class="proyects">
    <div class="row text-center">
      <!--Grid column-->
      <!--DashBoard Img-->
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
            <a Target="_Blank" href="https://app.asana.com/0/1198975864412717/board">
                <img src="../../../assets/dashboard.png" class="img-fluid" alt="Sample project image">
          </a>
        </div>
        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect Target="_Blank" href="https://app.asana.com/0/1198975864412717/board">
            <mdb-icon far icon="clone" class="left"></mdb-icon> View project</a>
        </mdb-card-body>
      </div>
      <!--DashBoard Img-->
      <!--Homepage Img-->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
          <a Target="_Blank" href="https://app.asana.com/0/1198975864412717/board">
              <img src="../../../assets/hompage.png" class="img-fluid" alt="Sample project image">
        </a>
        </div>
        <mdb-card-body class="mt-3">
          <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect Target="_Blank" href="https://app.asana.com/0/1198975864412717/board">
            <mdb-icon far icon="clone" class="left"></mdb-icon> View project</a>
        </mdb-card-body>
      </div>
      <!--Homepage Img-->
      <!--Facultad de Ingeniería-->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
          <a Target="_Blank" href="https://app.asana.com/0/1198975864412717/board">
          <img src="../../../assets/facultadingenieria.png" class="img-fluid" alt="Sample project image">
          </a>
        </div>
        <mdb-card-body class="mt-3">
          <a mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect Target="_Blank" href="https://app.asana.com/0/1198975864412717/board">
          <mdb-icon far icon="clone" class="left"></mdb-icon> View project</a>
        </mdb-card-body>
      </div>
      <!--Facultad de Ingeniería-->
    </div>  
  </div>
</section>
<!--Section 1-->